<div class="container my-4">
  <form action="/diners" method="POST">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">餐廳名稱</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="name" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="category" class="col-sm-2 col-form-label">類別</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="category">
      </div>
    </div>

    <div class="form-group row">
      <label for="rating" class="col-sm-2 col-form-label">地址</label>
      <div class="col-md-6">
        <input type="text" step="0.1" max="5.0" min="0.1" class=" form-control" name="address">
      </div>
    </div>

    <div class=" form-group row">
      <label for="phone" class="col-sm-2 col-form-label">電話</label>
      <div class="col-md-6">
        <input type="text" class="form-control" name="phone">
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">簡介</label>
      <div class="col-md-6">
        <textarea class="form-control" name="description"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-8">
        <a href="/" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </div>
    </div>
  </form>
</div>